.uploadCourse{
    text-align: center;
    width: 100%;
    font-size: 1.2em;
    font-weight: 700;
    text-decoration-line: underline;
    color: rgb(18, 18, 190);
    margin-bottom: 0;
}
.summary-text {
    width: 100%;
}
.summary-text>div {
    border: 2px inset;
    margin: auto;
    width: calc(100% - 10px);
}

.summary-text>label {
    
   padding-left: 10px;
}
.uploadButton{
    width: 100%;
    justify-content: flex-end;
    display: flex;;
}
.add-icon{
    cursor: pointer;
}

.label-button {
  cursor: pointer;
  color: #010153;
}