.dashborad {
    position: relative;
}
.dashborad-appbar {
    z-index: 2;
}
.dashboard-drawer {
    width: 20%;
    margin-top: 65px;
}
.dashboard-drawer>div {
    width: 100%;
    position: relative;
}

.loading-icon {
    display: flex;
    justify-content: center;
    height: 70vh;
    align-items: center;
}