.content{
    height:500px;
    border:1px solid red;
    display:flex;
    }
    .items{
        order:0;
        height:100%;
        width:50%;
        border:1px solid green;
    }
    .sample{
        order:1;
        height:100%;
        width:50%;
        border:1px solid yellow;
    }
    .Chapter:hover{
        background: black;
        color:white;
        cursor: pointer;
    }