#cour_icon{ 
    width:160px;
    height:160px;
    margin-left:10px;
    margin-top:10px;
  }
  .container{
    
    width:70%;
    margin-left:auto;
    margin-right:auto;
    margin-top:45px;
    height:fit-content;
  }
  #subject{
    padding: 10px 10px;
    margin: 13px 10px;
    opacity:0.9;
    border-radius: 25px;
    display:flex;
  }  
.tag{
    margin: 0px 5px;
    padding: 5px 5px;
    color:rgb(158, 21, 21);
}
.categories{
    display:flex;
    position:relative;
    left:50px;
}
body{
    background : linear-gradient(to right, rgba(255,0,0,0), rgb(20, 5, 5));
}